* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
header{
    background-color: #7FBBC9;
    display: flex;
    justify-content: center;
    padding: 2.1rem;
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #023b63;
}

body{
    background-color: #0087A0;
}

p{
    color: #7D7E80;
}

.navigationbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10;
    padding: 15;
    gap: 70px ;
}

.logo {
    position: absolute; /* remove the logo from the flow */
    left: 20px;   /* move the logo to left */
    top: 0;
    height: 100px;
    width: 100px;
  
}


.tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.container {
    width: 100%;
    background-color: #DDCCBB;
    padding: 20px;
    margin: 8px;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    float: center;
    margin-top: 7%;
    margin-left: 19%;
    
}

.table td, .table th {
    color: #7D7E80;

}

.pagination .page-item {
    margin: 0 5px; /* Espaçamento horizontal entre os itens */
}
.pagination .page-link {
    padding: 10px 15px; /* Ajuste de padding dos links */
}

footer {
	background-color: #7FBBC9;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    
}

.ulfooter {
	display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10;
    padding: 15;
    gap: 70px ;
}

.lifooter {
	display: inline-block;
	margin: 0 px;
}

.pfooter{
    color: #7D7E80;
    display: flex;
    justify-content: center;
}